services:
  rocky10web:
    build:
      context: web
      args:
        centos: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-web"
  rocky10nginx:
    build:
      context: nginx
      args:
        rocky: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-nginx"
  rocky10resty:
    build:
      context: nginx/resty
      args:
        rocky: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-resty"
  rocky10httpd:
    build:
      context: httpd
      args:
        rocky: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-httpd"
  rocky10node22:
    build:
      context: node/22
      args:
        centos: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-node22"
  rocky10node22circle:
    build:
      context: node/22
      args:
        centos: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-node-22.16.0-b${CIRCLE_BUILD_NUM}"
  rocky10ruby33:
    build:
      context: ruby/33
      args:
        rocky: $RL10
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-ruby33"
