services:
  rocky10systemd:
    build:
      context: systemd
      args:
        centos: $RL10
    image: "aursu/rockylinux:${RL10TAG}-systemd"
  rocky10webdev:
    build:
      context: web
      args:
        centos: $RL10
        image: scm
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-webdev"
  rocky10node22dev:
    build:
      args:
        centos: $RL10
      context: node/22/dev
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-node22dev"
  rocky10python312:
    build:
      args:
        rocky: $RL10
      context: python/3.12
    image: "aursu/rockylinux:${RL10TAG}-python3.12"
  rocky10ansible:
    build:
      args:
        rocky: $RL10
      context: python/ansible
    image: "aursu/rockylinux:${RL10TAG}-ansible"
  rocky10ruby33puppet:
    build:
      args:
        rocky: $RL10
        image: ruby33
      context: ruby/puppet
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-ruby33-puppet"
  rocky10docker:
    build:
      context: docker
      args:
        rocky: $RL10
    image: "aursu/rockylinux:${RL10TAG}-docker-cli"
  rocky10python312dev:
    build:
      args:
        rocky: $RL10
        image: webdev
      context: python/3.12
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-python312-dev"
  rocky10node22pydev:
    build:
      args:
        centos: $RL10
        image: python312-dev
      context: node/22/dev
    image: "ghcr.io/aursu/rockylinux:${RL10TAG}-node22-python312-dev"
