services:
  rocky9ruby31puppet:
    build:
      args:
        rocky: $RL9
        image: ruby31
      context: ruby/puppet
    image: "aursu/rockylinux:${RL9TAG}-ruby31-puppet"
  rocky9ruby33puppet:
    build:
      args:
        rocky: $RL9
        image: ruby33
      context: ruby/puppet
    image: "aursu/rockylinux:${RL9TAG}-ruby33-puppet"
  rocky9docker:
    build:
      context: docker
      args:
        rocky: $RL9
    image: "aursu/rockylinux:${RL9TAG}-docker-cli"
  rocky9systemd:
    build:
      context: systemd
      args:
        rocky: $RL9
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-systemd"
  rocky9webdev:
    build:
      context: web
      args:
        rocky: $RL9
        image: scm
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-webdev"
  rocky9node20dev:
    build:
      args:
        rocky: $RL9
      context: node/20/dev
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-node20dev"
  rocky9node22dev:
    build:
      args:
        rocky: $RL9
      context: node/22/dev
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-node22dev"
  rocky9python312:
    build:
      args:
        rocky: $RL9
      context: python/3.12
    image: "aursu/rockylinux:${RL9TAG}-python3.12"
  rocky9ansible:
    build:
      args:
        rocky: $RL9
      context: python/ansible
    image: "aursu/rockylinux:${RL9TAG}-ansible"