services:
  rocky9docker:
    build:
      context: docker
      args:
        rocky: $RL9
    image: "aursu/rockylinux:${RL9TAG}-docker-cli"
  rocky9systemd:
    build:
      context: systemd
      args:
        rocky: $RL9
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-systemd"
  rocky9webdev:
    build:
      context: web
      args:
        rocky: $RL9
        image: scm
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-webdev"
  rocky9node20dev:
    build:
      args:
        rocky: $RL9
      context: node/20/dev
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-node20dev"
  rocky9node22dev:
    build:
      args:
        rocky: $RL9
      context: node/22/dev
    image: "ghcr.io/aursu/rockylinux:${RL9TAG}-node22dev"
  rocky9python312:
    build:
      args:
        rocky: $RL9
      context: python/3.12
    image: "aursu/rockylinux:${RL9TAG}-python3.12"
  rocky9ansible:
    build:
      args:
        rocky: $RL9
      context: python/ansible
    image: "aursu/rockylinux:${RL9TAG}-ansible"
  rocky9ruby33pdk:
    build:
      args:
        rocky: $RL9
        image: ruby33
        DNF_ENV_FILE: /run/secrets/forge_key
      context: ruby/puppet
      secrets:
        - forge_key
    secrets:
      - forge_key
    image: "aursu/rockylinux:${RL9TAG}-pdk"

secrets:
  forge_key:
    file: secrets/forge-key.sh